@model List<StoreBookOnline.Models.Sach>

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row mt-2">
        <div class="col-4">
            <div class="card w-75 text-light rounded-bottom-5 rounded-start-5" style="height: 230px; left: 50%; transform: translateX(-50%); background-color: #9C7F5B">
                <div class="card-header text-center">
                    <i class="fa-solid fa-truck" style="color: #55331C"></i>
                    Shipping Options
                </div>
                <div class="card-body">
                    Offer various shipping methods, including local, national, and international delivery to cater to customers worldwide
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card w-75 text-light rounded-bottom-5 rounded-start-5" style="height: 230px; left: 50%; transform: translateX(-50%); background-color: #9C7F5B">
                <div class="card-header text-center">
                    <i class="fa-solid fa-location-dot" style="color: #55331C"></i>
                    Order Tracking
                </div>
                <div class="card-body">
                    Enable customers to track their orders in real-time using tracking numbers, ensuring transparency
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card w-75 text-light rounded-bottom-5 rounded-start-5" style="height: 230px; left: 50%; transform: translateX(-50%); background-color: #9C7F5B">
                <div class="card-header text-center">
                    <i class="fa-solid fa-headset" style="color: #55331C"></i>
                    Customer Options
                </div>
                <div class="card-body">
                    Live chat, email, or ticketing systems to provide customer support and address inquiries or issues promptly
                </div>
            </div>
        </div>
    </div>
</body>
</html>
