
@{
    ViewBag.Title = "Blogs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5">
                <img src="/Images/Blogs/blog01.jpg" class="w-100 rounded-bottom-5 rounded-end-5" />
            </div>
            <div class="col-7 d-flex justify-content-center align-items-center">
                <div class="" style="margin-left: 50px; margin-right: 50px">
                    <h4 class="text-center">"Welcome to Booktopia - Where Books Come to Life"</h4>
                    <p>
                        At Booktopia, we are dedicated to the enchanting world of books and the incredible impact they have on our lives. With a passion for literature and a commitment to providing
                        an exceptional reading experience, we've created a virtual haven for book lovers like you
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-7 d-flex justify-content-center align-items-center">
                <div class="" style="margin-left: 50px; margin-right: 50px">
                    <h4 class="text-center">"Unlock the Power of Imagination at Booktopia - Your Gateway to Extraordinary Worlds!"</h4>
                    <p>
                        Immerse yourself in our meticulously curated collection, spanning across genres, from timeless classics to the latest bestsellers.
                        Dive into enthralling mysteries, thought-provoking non-fiction, and captivating tales that await within out virtual shelves.
                        With Booktopia, finding your next great read has never been easier.
                    </p>
                </div>
            </div>
            <div class="col-5">
                <img src="/Images/Blogs/blog02.jpg" class="w-100 rounded-bottom-5 rounded-end-5" />
            </div>
        </div>
    </div>
    
</body>
</html>
